/* .title-component{
    background-color: white; 
    height: 50px;
    width: parent;
}

.title-h1{
    color: rgb(255, 0, 149);
    text-align:center;
    font-family: "Lucida Console";
} */

img {
    width: 75px;
    height: 75px;
    object-fit: none;
}