<div style="text-align: center; margin-top: 10%;">
    <mat-icon style="font-size: 150px; height: 200px; width: 250px;">account_circle</mat-icon>

    <form [formGroup]="loginForm" (ngSubmit)="login">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Passport Number</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password':'text'">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="'hide'">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>

        <button mat-button color="primary" type="submit" (click)="login()">Login</button>
        <br>

        <a href="">Don't have an account?</a>
    </form>
</div>